body {
  position: relative;
  margin: 0;
  width: 100%;
  min-height: 100vh;
  /* background: url("/client/images/background.jpg") repeat repeat center center rgb(255,255,255); */
  background: white;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
}
h1, h2 {
  margin: 0;
  font-family: 'Permanent Marker', cursive;
}
p {
  margin: 0;
  font-family: 'Architects Daughter', cursive;
}
section {
  display: none;
}
section.active {
  display: block;
}

.container {
  background-color: rgb(248,224,167);
  color: #660000;
  border-radius: 5px;
  box-shadow: 0px 0px 3px 0px rgb(248,224,167), 0px 0px 3px 2px rgb(140,112,69), 0px 0px 3px 4px rgb(47,32,21);
}

.popdown {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: url("/client/images/popdown.png") no-repeat no-repeat center bottom rgb(255,255,255,0);
  background-size: 400px;
  width: 290px;
  height: 230px;
  padding: 180px 50px 25px;
  color: #660000;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%,-100%);
  z-index: 100;
  transition: transform 0.3s ease-out;
}
.popdown.active {
  transform: translate(-50%,0);
}
.popdown h1 {
  padding: 10px;
  font-size: 30px;
  line-height: 32px;
}
.popdown p {
  font-size: 20px;
  font-style: bold;
  padding: 0px 10px;
}
.popdown button {
  margin: 10px;
}

.wooden-button {
  background-color: rgb(120, 60, 20);
  border: none;
  border-radius: 5px;
  font-family: 'Architects Daughter', cursive;
  font-size: 20px;
  padding: 5px 20px;
}

#sign-in {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#sign-in .prompt-input {
  margin: 0 auto;
  width: 500px;
}
#sign-in .prompt-input p{
  margin: 0;
}

.scrim {
  display: block;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.8);
  z-index: 99;
  pointer-events: none;
  transition: opacity 0.3s;
}
.scrim.active {
  opacity: 1;
  pointer-events: all;
}

#disconnect {
  z-index: 100;
  font-size: 25px;
}
#disconnect h1 {
  padding: 20px;
}
#disconnect button {
  margin: 10px;
}

#header #header__container {
  margin: 30px 20px;
  position: relative;
  /* background: url("/client/images/header.jpg") repeat-x center center rgb(130,80,50); */
  background-size: auto 200%;
  color: #660000;
}
#header #header__container h1 {
  margin: 0;
  padding: 10px;
  font-size: 40px;
}
#header #header__container h2 {
  position: absolute;
  margin: 0;
  right: 10px;
  top: 50%;
  font-size: 50px;
  transform: translateY(-50%);
}

/* Lobby */
#lobby .player-list {
  min-height: 100px;
  margin: 20px;
}
#lobby .player-list button {
  margin: 10px;
}
#lobby .player-list button img {
  height: 40px;
  width: 40px;
}
#lobby .player-list button.host {
  outline: 3px solid yellow;
}
#lobby .player-list button.agree {
  outline: 3px solid green;
}
#lobby .player-list button.disagree {
  outline: 3px solid red;
}
#lobby .player-list button.infected {
  background: green;
}

#host > div {
  margin: 30px 20px;
  display: none;
}
#host > div.active {
  display: block;
}

/* Vote */
#vote {
  margin: 20px;
}
#vote > div {
  display: none;
}
#vote > div.active {
  display: block;
}

/* Night */
#night #night__scrim {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  pointer-events: none;
  background: rgb(0,0,0,0.5);
  z-index: 10;
}

#night .popdown {
  display: none;
}
#night .popdown.active {
  display: block;
}
#night #night__infected {
  display: none;
}
#night #night__infected.active {
  display: block;
}
